@font-face {
  font-family: 'yg-jalnan';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: yg-jalnan;
}

:root {
    --color: lightgray;
    --border-radius: 10px;
    --image: url('./img/1.jpg');
    /* --image: url('https://media.gettyimages.com/vectors/cute-cartoon-dachshunds-in-love-vector-id865392634?s=2048x2048'); */
  }
  
  body {
    background:#efefef;
    padding:0;
    margin:0;
    box-sizing:border-box;
  }
  
  button {
    border-radius: 5px;
    border: 0;
    font-size: 20px;
  }

  .title {
    text-align: center;
    color: rgb(49, 49, 49);
  }

  h1 {
    font-size: 55px;
  }

  h2 {
    font-size: 35px;
  }

  #title_color {
    color: rgb(31, 144, 215);
  }
  
  #complete {
    position: absolute;
    left: 4%;
    top: 50%;
    transform: translateY(-50%);
    width: 85%;
    border-radius: 10px;
  }

  #puz, #puzz {
    position:absolute;
    border-radius:var(--border-radius) 0 var(--border-radius) 0;    
    user-select:none;
  }
  #puz {
    width:300px;
    height:300px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    border:3px dashed lightgray;
    overflow:hidden;
  }
  #puzz {
    left:0;
    top:0;
    border:0;
  }
  
  #puz i {
    float:left;
    width:100px;
    height:100px;
    outline:1px dashed lightgray;
  }
  
  #puzz i {
    position:absolute;
    width:100px;
    height:100px;
    background:var(--color);
    background-image:var(--image);
    background-size:300px 300px;
    cursor:move;
    box-shadow:0 0 10px rgba(0,0,0,.25);
  }
  
  .first {
    border-top-left-radius:var(--border-radius);
    background-position:left top !important;
  }
  .secon {
    background-position:center top !important;
  }
  .third {
  /*   border-top-right-radius:var(--border-radius); */
    background-position:right top !important;
  }
  .fourt {
    background-position:left center !important;
  }
  .fifth {
    background-position:center center !important;
  }
  .sixth {  
    background-position:right center !important;
  }
  .seven {
  /*   border-bottom-left-radius:var(--border-radius); */
    background-position:left bottom !important;
  }
  .eight {
    background-position:center bottom !important;
  }
  .ninth {
    border-bottom-right-radius:var(--border-radius);
    background-position:right bottom !important;
  }
  
  .clicked {
    box-shadow:0 0 0 4px gray !important;
  }
  
  .dropped {
    background:var(--color);
    background-image:var(--image);
    background-size:300px 300px;
  }
  .done {
    opacity:0;
    pointer-events:none;
  }
  
  .allDone {
    animation:allDone 1s linear forwards;
    border:3px solid lightgray !important;
  }
  .allDone i {
    outline:0 !important;
  }
  
  @keyframes allDone {
    50% { transform:translate(-50%,-50%) scale(1.2); }
  }
  
  #clicks {
    font-size:8px;
    font-family:monospace;
    position:absolute;
    bottom:5px;
    right:5px;
  }

/* 화면 세로 폭이 가로 폭보다 길 때 */
@media screen and (orientation: portrait) {
  h1.title{
    font-size: 4vh;
    text-align: center;
  }
  /* h2 태그의 폰트 크기와 가운데 정렬 */
  h2.title {
    font-size: 3vh;
    text-align: center;
  }

  /* #complete를 가운데 정렬 */
  #complete {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 5vh; /* 글자와의 간격을 설정하여 가운데 정렬 */
  }

  /* #puz를 원하는 위치로 이동 */
  #puz {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 10vh; /* 글자와의 간격을 설정하여 가운데 정렬 */
  }

  /* #puzz를 원하는 위치로 이동 */
  #puzz {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 10vh; /* 글자와의 간격을 설정하여 가운데 정렬 */
  }
}

#btn{width: 100%; height:80%; background-color:rgb(204, 232, 255); cursor:pointer; text-align:center; line-height:50px;}

#slideTogglebox{width: 100%; height:80%; background-color:rgb(182, 222, 255); display:none; }